:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}

.cell {
    background-color: teal;
    border: 2px solid sandybrown;
    box-sizing: border-box;
}

.cell-alive {
    background-color: rgb(138, 223, 12);
}

.cell-sick {
    background-color: rgb(241, 96, 12);
}

.cell-dead {
    background-color: black;
}

.cell-revived {
    background-color: yellow;
}